.App {
  text-align: center;
}

.mystyle{
    color:black;
    box-shadow:0 0.03rem 2rem rgb(102, 122, 215);
    padding: 12px;
    margin-top: 8px;
}

.headingcolor{
  font-weight: 700;
  background: -webkit-linear-gradient(rgb(255, 1, 1), rgb(4, 0, 255) , rgb(0, 0, 0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.textcolor{
  background: -webkit-linear-gradient(rgb(1, 18, 255), rgb(255, 0, 0) , rgb(17, 0, 255));
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.catgcolor{
   background: -webkit-linear-gradient(rgb(255, 1, 1), rgb(21, 4, 253));
   background-clip: text;
   -webkit-text-fill-color: transparent;
}
.App {
  font-family: sans-serif;
  font-weight:700;
  font-size:25px;
  margin-top: 4px;
}

.yournote{
  text-align: center;
  margin-top: 13px;
}

@media (max-width: 600px) {
  .App{
    font-size: 19px;
  }
}

.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 40px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
}

.logo {
  width: 80px;
  margin: auto
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapper .form-field .fas {
  color: #555
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #03A9F4;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px
}

.wrapper .btn:hover {
  background-color: #039BE5
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03A9F4
}

.wrapper a:hover {
  color: #039BE5
}

.error{
  text-align: center;
  color: red;
}

@media(max-width: 380px) {
  .wrapper {
      margin: 30px 20px;
      padding: 40px 15px 15px 15px
  }
}

.containerbox{
  height: 100vh;
  width: auto;
  background-color: rgb(141, 157, 230);
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo{
  background-color: rgb(199, 24, 199);
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 15px;
  font-weight: 700;
}

.button2{
  min-height: 25px;
  width: 25px;
  border: none;
  border-radius: 50%;
  background-color: #8566aa;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  box-shadow: 5px 5px 15px -5px rgba(0 , 0 , 0 , 0.3);
  margin: 0px 10px;
}
.button2:hover{
  background-color: red;
}
.button2:active{
  color: blue;
  background-color: rgb(223, 4, 4);
}
ol{
  margin: 5px;
  margin-top: 25px;
  padding: 0;
  list-style-type: none;
}
ol li{
  margin: 5px 10px;
  font-size: 23px;
  font-weight: 500;
  min-height: 40px;
  color: #8566aa;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.input2{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}
.button3{
  width: 45px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #8566aa;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0 , 0 , 0 , 0.3);
}
.center{
  text-align: center;
  margin-top: 10px;
}
.button3:hover{
  background-color: rgb(44, 253, 2);
}
.button3:active{
  color: rgb(25, 0, 255);
  background-color: rgb(38, 211, 4);
}
.box{
  background-color: white;
  height: 550px;
  width: 350px;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
